body {
    box-sizing: border-box;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    color: rgb(28, 111, 189);
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 1em;
    text-transform: uppercase;
}

h3 {
    font-size: 1em;
    padding-bottom: 0.6em;
    text-transform: uppercase;
}

p {
    font-size: 0.8em;
    padding-bottom: 1.5em;
}

.main-section {
    margin: 50vh auto;
    text-align: center;
    width: 50%;
}

